	.html, body, form, fieldset, img, div{
	font: 100% Verdana, Arial;
	padding: 0px;
	border: 0px;
	margin: 0px;
	}
	
	.box{
	position: relative;
	left: 0px;
	top: 0px;
	height: 600px;
	width: 1000px;
	color: #D3EDCB;
	vertical-align: top;
	background-color: #fff;
	text-align: left;
	}
	
	.header{
	position: relative;
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 125px;
	background-image: url('../images/tmheader.png');
	background-repeat: no-repeat;
	background-color: #fff;
	}
	
	.heading{
	font-size: 20px;
	}
	
	.col1{
	position:relative;
	left: 0px;
	top: 0px;
	height: 600px;
	width: 175px;
	background-image: url('../images/tmmbg.png');
	background-repeat: no-repeat;
	background-color: #000;
	}
	
	.col2{
	position:relative;
	left: 175px;
	top: -600px;
	width: 815px;
	color: #000;
	vertical-align: top;
	background-color: #fff;
	text-align: left;
	padding: 5px;
	}
	
	.drop {
	display:block;
	margin:0;
	text-align:left;
	}

	.drop span {
	position: relative;
	top: -98px;
	float:right;
	}
	
	.downloads {
	padding: 10px;
	text-align: center;
	border-collapse: collapse;
	}
	
	.downloads th {
	font-size: 20px;
	background-color: #fff;
	text-decoration: underline;
	}
	
	.downloads tr {
	background-color: #D3D3D3;
	}
	
	.downloads td {
	width: 250px;
	}
	
	.command {
	font-family: courier new;
	}
	
	.news {
	font-size: 14px;
	font-family: Times New Roman;